@charset "UTF-8";
/* --------------------
		設定
-------------------- */
@media screen and (max-width: 767px) {
  .pc-only {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .sp-only {
    display: none !important;
  }
}

/* --------------------
		要素
-------------------- */
html {
  overflow-x: hidden;
  background-color: #050507;
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat", "Noto Serif JP", serif;
  scroll-behavior: smooth;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 1050px) {
  .wrapper {
    padding: 0 5%;
  }
}

.header__logo {
  text-align: center;
  margin: 32px 0 52px;
}
.header__logo img {
  width: 144px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .header__logo {
    margin: 20px 0 30px;
  }
  .header__logo img {
    width: 87px;
    height: auto;
  }
}

.header__kv {
  width: 120vw;
  display: flex;
  align-items: center;
  height: auto;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .header__kv {
    width: 100vw;
    display: block;
  }
}

.slider-wrapper {
  overflow: hidden;
  width: 100vw;
}

.slider {
  display: flex;
  /* 5枚ぶんが流れたらちょうど繋がる */
  animation: scroll-left 25s linear infinite;
}

.slide {
  flex: 0 0 auto;
  width: 25vw; /* 4枚で1画面に収まる */
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover; /* 縦横比のズレ防止（必要なら） */
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-125vw);
  } /* 5枚ぶん流す */
}
/* SPヘッダー画像 */
.main-visual__sp {
  position: relative; /* imgをabsoluteで重ねるため */
  width: 100%;
  padding-top: 130%; /* 必要に応じて調整 */
  overflow: hidden;
}
.main-visual__sp img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* 画像を枠に収める */
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.header__menu nav {
  width: 65%;
  margin: 75px auto 45px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .header__menu nav {
    width: auto;
    display: block;
    margin: 32px 5%;
  }
}

.header__menu_li {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .header__menu_li {
    width: 100%;
    margin-top: 22px;
  }
}

.h2-blk {
  font-size: 32px;
  border-bottom: 1px solid #050507;
  display: inline-block;
  padding-bottom: 8px;
  margin-top: 88px;
  letter-spacing: 0.23em;
}
@media screen and (max-width: 767px) {
  .h2-blk {
    font-size: 20px;
    margin-top: 42px;
  }
}

.h2-wht {
  font-size: 32px;
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding-bottom: 8px;
  margin-top: 88px;
  letter-spacing: 0.23em;
}
@media screen and (max-width: 767px) {
  .h2-wht {
    font-size: 20px;
    margin-top: 42px;
  }
}

h3 {
  font-size: 30px;
  margin: 43px 0;
  font-feature-settings: "palt";
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  h3 {
    font-size: 23px;
    line-height: 1.5;
  }
}

#concept {
  background-image: url(../images/flower.png), url(../images/concept-bg.jpg);
  background-repeat: no-repeat;
  background-size: 23%, cover;
  background-position: right -45px bottom 0, center;
  position: relative;
}
@media screen and (min-width: 1440px) {
  #concept {
    background-size: 306px, cover;
  }
}
@media screen and (max-width: 767px) {
  #concept {
    background-size: 139px, cover;
    background-position: right 0px bottom 0, center;
  }
}

.concept__inner {
  height: 805px;
  color: #050507;
}
.concept__inner p {
  letter-spacing: 0.052em;
  line-height: 2.8;
}
@media screen and (max-width: 767px) {
  .concept__inner p {
    letter-spacing: 0.01em;
    line-height: 2;
  }
}
.concept__inner__img {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 70px 0 104px;
}
.concept__inner__img img {
  width: 21%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .concept__inner__img {
    max-width: 60%;
    flex-wrap: wrap;
    row-gap: 20px;
    margin: 32px auto;
  }
  .concept__inner__img img {
    width: 45%;
  }
}

.concept__bg {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}
.concept__bg img {
  width: 21vw;
  height: auto;
}
@media screen and (max-width: 767px) {
  .concept__bg img {
    width: 37vw;
  }
}

.bouquet__inner {
  color: #fff;
}

.bouquet__list {
  display: flex;
  gap: 5%;
  align-items: center;
  margin-top: 60px;
}
.bouquet__list img {
  width: 50%;
  height: auto;
}
.bouquet__list-p {
  width: 50%;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .bouquet__list {
    display: block;
    margin: 40px -5%;
  }
  .bouquet__list img {
    width: 100%;
  }
  .bouquet__list div {
    width: 100%;
    padding: 0 5%;
  }
}

.bouquet__ttl {
  font-size: 20px;
  margin-top: 24px;
}

.bouquet__txt {
  line-height: 1.5;
  margin: 24px 0;
}

.btn {
  margin: 0 auto;
}
.btn a {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  display: block;
  line-height: 53px;
  border: solid 1px;
  border-radius: 100vh;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.15em;
}
@media screen and (max-width: 767px) {
  .btn a {
    max-width: 260px;
  }
}

.bouquet__sns {
  max-width: 100%;
  background-color: #fff;
  margin: 60px auto;
}

.bouquet__sns-ig {
  align-items: center;
  display: flex;
  justify-content: space-around;
  color: #000;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 93px 0;
  margin: 0 auto;
}
.bouquet__sns-ig p {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .bouquet__sns-ig {
    display: block;
    text-align: center;
    margin: 0 auto;
    line-height: 35px;
    letter-spacing: 0.1em;
    padding: 58px 0;
  }
  .bouquet__sns-ig p {
    width: 100%;
    font-size: 16px;
    padding-bottom: 32px;
  }
}

.btn-ig {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .btn-ig {
    width: 100%;
  }
}
.btn-ig a {
  width: 100%;
  max-width: 320px;
  display: block;
  margin: 0 auto;
  line-height: 53px;
  letter-spacing: 0;
  color: #fff;
  background-color: #050507;
  border-radius: 100vh;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.15em;
}
@media screen and (max-width: 767px) {
  .btn-ig a {
    max-width: 260px;
  }
}

#direct-shop {
  background-color: #fff;
  color: #000;
}

.direct__inner ul {
  padding: 100px 0 114px 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .direct__inner ul {
    gap: 24px;
    overflow-x: scroll;
    padding: 50px 0 73px 0;
  }
}
.direct__inner li {
  width: 29.6%;
}
.direct__inner li p {
  padding: 20px 0;
  line-height: 35px;
}
.direct__inner li span {
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .direct__inner li {
    min-width: 260px;
  }
}

.btn-shop a {
  width: 100%;
  display: block;
  line-height: 53px;
  letter-spacing: 0;
  color: #fff;
  background-color: #222222;
  border-radius: 100vh;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.15em;
}

#online-shop {
  background-image: url(../images/online-shop-bg.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
}

.online-shop__inner {
  height: 415px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .online-shop__inner {
    height: 163px;
  }
}
.online-shop__inner h2 {
  font-size: 32px;
  display: inline-block;
  margin: 144px auto 45px;
}
@media screen and (max-width: 767px) {
  .online-shop__inner h2 {
    font-size: 20px;
    margin: 45px auto 15px;
  }
}

.btn-online a {
  width: 29.6%;
  display: block;
  line-height: 53px;
  letter-spacing: 0;
  color: #fff;
  border: solid 1px #fff;
  background-color: transparent;
  border-radius: 100vh;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.15em;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .btn-online a {
    width: 69.3%;
    line-height: 45px;
  }
}

.access__inner {
  width: 30%;
  text-align: center;
  margin: 46px auto;
  font-family: "Noto Serif JP", serif;
}
@media screen and (max-width: 1200px) {
  .access__inner {
    width: 45%;
  }
}
@media screen and (max-width: 767px) {
  .access__inner {
    width: 95%;
    margin: 45px auto 26px;
  }
}
.access__inner img {
  width: 144px;
  height: auto;
}
.access__inner p {
  line-height: 30px;
  letter-spacing: 0.1em;
  margin: 60px 0 43px;
}
@media screen and (max-width: 767px) {
  .access__inner p {
    margin: 44px 0 41px;
  }
}
.access__sns {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .access__sns {
    flex-direction: column;
  }
}

iframe {
  width: 100%;
  height: 365px;
  filter: grayscale(100%) invert(92%) contrast(83%);
}
@media screen and (max-width: 767px) {
  iframe {
    height: 277px;
  }
}

footer {
  text-align: center;
  font-size: 14px;
  margin: 24px 0;
  font-family: "Noto Serif JP", serif;
}
@media screen and (max-width: 767px) {
  footer {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */